### Условие 2
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [7]:
def count_fruits(**kwargs):
    count = sum(kwargs.values())
    return {
        'Общее кол-во фруктов':count
    }

In [8]:
count_fruits(
    яблоко = 1,
    банан = 2,
    лимон = 3
)

{'Общее кол-во фруктов': 6}

### Условие 3
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [22]:
list_cost = [100, 125, -90, 345, 655, -1, 0, 200]

In [25]:
upd_cost = [i for i in list_cost if i > 0]
total_cost = sum(upd_cost)
print(f'Update cost list: {upd_cost}' f' Total costs: {total_cost}')

Update cost list: [100, 125, 345, 655, 200] Total costs: 1425

### Условие 4

Даны два списка.

Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

#### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [45]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
        '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
        '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
        '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
        '2021-10-26', '2021-12-09']

In [46]:
revenue = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 
           7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 
           5015, 2008, 316, 6333, 5700, 2887]

In [47]:
from datetime import datetime
dates = [datetime.strptime(date, '%Y-%m-%d') for date in dates]

In [48]:
november_revenue = sum(revenue[i] for i in range(len(dates)) if dates[i].month == 11)
print(f'Revenue in november: {november_revenue}')

Revenue in november: 25098

In [51]:
def calc_monthly_revenue(dates: list[datetime], revenue: list[int]) -> dict[int, int]:
    monthly_revenue = {}
    for i in range(len(dates)):
        if dates[i].month in monthly_revenue:
            monthly_revenue[dates[i].month] += revenue[i]
        else:
            monthly_revenue[dates[i].month] = revenue[i]
    return monthly_revenue

In [52]:
monthly_revenue=calc_monthly_revenue(dates, revenue)
print(f'Revenue per months: {monthly_revenue}')

Revenue per months: {9: 25647, 12: 45452, 10: 28645, 11: 25098}